@font-face {
  font-family: 'futura';
  src: url('../public/futura_font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --pink: #E8AEB7;
  --lightBlue: #A9FFF7;
  --mediumBlue: #B8E1FF;
  --greyGreen: #82ABA1;
  --lightGreen: #94FBAB;

  --borderWidthMedium: 5px;
  --borderWidthSmall: 3px;
  --transitionSpeed: 0.15s;
  
  --background: #FAD3E7;
  --buttonColor: #0081B4;
  --lightGrey: #FEF9FB;
  --darkGrey: #9d9d9d;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  font-family: futura, sans-serif;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h1 {
  font-size: 2.5rem;
  margin: 2px;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  margin: 2px;
}

h5 {
  font-size: 1rem;
}

body {
  margin-bottom: 60px;
  background-color: #F6F1F1;
  height: 100%;
  overflow: hidden;
}

#inviteWindow {
  right: 10px;
  top: 68px;
}

.inviteWindowInput {
  padding: 10px;
}

.closeIcon {
  height: auto;
  width: 16px;
  opacity: 0.6;
}

.copyIcon {
  height: auto;
  width: 20px;
  opacity: 0.6;
}

.copied {
  position: absolute;
  right: 165px;
  top: 190px;
  font-size: 15px;
  opacity: 0;
  transition: opacity 0.08s ease-in-out;
  z-index: 99;
}

.copied.show {
  opacity: 1;
}

.copiedLabel {
  color: #212529bf;
}

.copyButton {
  border-color: #6c757d87 !important;
}

#inviteWindowLogo {
  width: auto;
  height: 30px;
}

.navButton {
  background-color: var(--mediumBlue);
  height: 70%;
  margin: auto 20px;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

.content {
  display: flex;
  flex-direction: row;
}

.results {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
}

#averageValue {
  min-height: 60px;
}

.resultsBoard {
  width: 30%;
  height: 80%;
  max-height: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;

}

.average {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.buttonText {
  height: 100%;
}

.players {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-evenly;
}

.votingCards {
  width: 55%;
  height: 50%;
  margin: auto;
  padding: 15px;
}

.votingCardsRow {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.scrumPokerCard {
  height: 90%;
  border-width: var(--borderWidthSmall);
  border-color: var(--bs-white);
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50px;
}

.player {
  background-color: var(--darkGrey);
  width: 100%;
  font-size: 1.5rem;
  color: white;
}

.voting {
  width: 10%;
  min-width: 100px;
  max-width: 200px;
  height: 80%;
  margin: 15px;
  /*background-color: var(--mediumBlue);*/
  transition: var(--transitionSpeed);
}

.voting:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.shadowMedium {
  -webkit-box-shadow: 0 4px 20px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 4px 20px 0 rgba(0,0,0,0.75);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.75);
}

.shadowSmall {
  -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}

.playerCardAndName {
  display: flex;
  height: 95%;
  max-height: 450px;
  width: 5%;
  min-width: 100px;
  max-width: 250px;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
}

.playerName {
  margin-top: 12px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 3px;
}

.startScreen {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.startScreenContent {
  width: 50%;
  max-width: 550px;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.startScreenForm input {
  margin: 15px 0;
  min-height: 50px;
}

.startScreenForm select {
  margin: 15px 0;
  min-height: 50px;
}

.logoDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

#homeScreenLogo {
  height: 170px;
  width: auto;
  padding: 15px;
  margin: 5px auto 5px auto;
}

.customInputLabel {
  font-style: italic;
}

.formErrorMessage {
  color: red;
  font-style: italic;
  height: 25px;
  margin-bottom: 10px;
}

.startScreenForm {
  width: 80%;
  height: 90%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formBorder {
  border-style: solid;
  border-width: var(--borderWidthSmall);
  border-color: var(--greyGreen);
}

.input {
  height: 50px;
  width: 80%;
  text-align: center;
}

/*.submitButton {*/
/*  width: 150px;*/
/*  height: 40px;*/
/*  border: solid;*/
/*  border-width: var(--borderWidthSmall);*/
/*  border-radius: var(--borderRadiusSmall);*/
/*  border-color: var(--greyGreen);*/
/*  display: flex;*/
/*  align-content: center;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  font-family: futura, sans-serif;*/
/*  transition: var(--transitionSpeed);*/
/*}*/

.cardValueHidden {
  opacity: 0.8;
  background: repeating-linear-gradient( -45deg, #82ABA1, #82ABA1 2.5px, #e5e5f7 2.5px, #e5e5f7 12.5px );
}

.playerHasVoted {
  border-color: #5E5E5E;
}

.selected {
  background-color: var(--lightGreen) !important;
}

.navBarLogo {
  height: 40px;
  width: auto;
  margin: 10px auto;
}

.navBarButton {
  height: 38px;
}

#inviteWindow {
  transition: 0.2s ease-in-out;
  z-index: 99;
}

.loadingScreen {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.loadingSpin {
  font-size: 55px;
  margin-top: 50px;
}

.joinGameButton {
  min-height: 50px;
  margin: 5px auto;
}

.homeScreenCard {
  width: 60%;
}

.joinButtonDiv {
  min-height: 40px;
}

.customVotingLabel {
  font-style: italic;
}

.buttonBlue {
  background-color: #0081B4 !important;
  border-color: #0081B4 !important;
}

.backgroundLightGrey {
  background-color: var(--lightGrey);
}